
body {
	font-family: 'Libre Franklin', sans-serif;
	font-size:18px;
	line-height:1.7;
	color:#777;
	font-weight:400;
	overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6 {
	color:#333;
	line-height:1.4;
	font-weight:600;
}

a,a:hover {
	color:#92DD03 ;
	text-decoration: none;
}
img {max-width: 100%;}
/* --- Menu --- */
.isFixed {
	left:0px;
	width:100%;
}


}
@media (max-width: 655px) {
	.collapse {background: #333;}
	.navbar.navbar-inverse.navbar-static-top a {padding: 15px 16px;line-height: 15px;font-size: 13px;}
}



/* --- Parallax --- */
.parallax {
	text-align:center;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed !important;
	overflow:hidden;
}
.parallax-pattern-overlay {
	background-image:url(../img/pattern.png);
	background-repeat: repeat;
}
/* --- Heading --- */
.heading {
	padding-bottom:15px;
	text-align:center;
	max-width:960px;
	margin:0px auto;
	
}

	
.heading h2 {
	font-weight:700;
	font-family: 'Abril Fatface', cursive;
	font-size:55px;
	color:#333;
	margin:0;
	padding:5px;
}

.heading h3 {
	font-size:17px;
	line-height:2;
}

#map{
	height:400px;
}


/* Example media queries (reduce number of columns and change slideshow layout) */
@media screen and (max-width:60em) {
	/* responsive columns;see "Element sizing" on http://masonry.desandro.com/options.html */
	.grid li {
			width:33.3%;
	}
	.slideshow li {
			width:100%;
			height:100%;
			top:0;
			left:0;
			margin:0;
	}
	.slideshow li figure img {
			width:auto;
			margin:0 auto;
			max-width:100%;
	}
	.slideshow nav span,.slideshow nav span.nav-close {
			font-size:1.8em;
			padding:0.3em;
	}
	.info-keys {
			display:none;
	}
}
@media screen and (max-width:35em) {
	.grid li {
			width:50%;
	}
}
@media screen and (max-width:24em) {
	.grid li {
			width: 100%;
	}
}

.error input,input.error,.error textarea,textarea.error {
	background-color:#ffffff;
	border:1px solid red !Important;
	-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;
	-moz-transition:border linear 0.2s,box-shadow linear 0.2s;
	-o-transition:border linear 0.2s,box-shadow linear 0.2s;
	transition:border linear 0.2s,box-shadow linear 0.2s;
}
@media screen and (min-width:768px) {
	input.contact.col-md-6 {
		width: 48.5%;
	}
}
/* --- Footer --- */
.footer {
	background:whitesmoke ;
	margin-top:120px;
	position:relative;
	margin-right:-15px;
}
.footer .container {
	padding:60px 0 20px;
}
.footer ul {
	margin:0 auto;
	margin-bottom:30px;
	margin-top:10px;
	text-align:center;
	list-style-type:none;
	padding-left:0;
}
.footer ul li {
	display:inline-block;
	text-align:center;
	background:rgba(0,0,0,0.2);
	color:#ffffff;
	line-height:45px;
	margin:0 4px 0px;
	width:45px !important;
	height:45px !important;
		-webkit-border-radius:3px;
	border-radius:3px;
}
.footer ul li:hover {
	background:#2a2a2a;
}
.footer ul li:hover	a {
	color:#fff;
}
.footer ul li a {
	color:#fff;
	width:42px !important;
	height:42px !important;
}
.footer ul li a i {
	line-height:45px;
	color:#fff;
}
.footer p {
	color:#fff;
	font-size:13px;
	line-height:24px;
	font-weight:300;
	text-align:center;
	text-transform:uppercase;
}
.gototop {
	display:inline-block;
	width:60px;
	height:60px;
	background:#fff;
	position:absolute;
	margin-left:-30px;
	top:-35px;
	border-radius:50%;
}
.gototop i {
	color:#92DD03 ;
	line-height:70px;
}
.footer a,.footer a:hover {
	color:#fff;
}
.credits {
    text-align: center;
}

blockquote {
	font-style:italic;
	margin:0 0 0px 0;
	padding:20px 70px 10px;
	position:relative;
	font-size:13px;
	border:0;
}
blockquote:before {
	display:block;
	content:"\201C";
	font-size:120px;
	position:absolute;
	left:10px;
	top:-30px;
	color:#92DD03 ;
	font-family:Georgia;
}
blockquote cite {
	color:#92DD03 ;
	font-size:14px;
	display:block;
	margin-top:5px;
	text-align:right;
}
blockquote cite:before {
	content: "\2014 \2009";
}



  html, body {
	height: 100%;
	margin: 5px;
	padding: 5px;
  }